* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  .nav-wrap {
    display: flex;
    max-width: 1200px;
    width: calc(100vw - 50px * 2);
    margin: 0 auto;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 100;

    .logo {
      width: 67px;
      height: 60px;
      svg {
        width: 67px;
        height: 60px;
        z-index: 1;
      }
    }
    .nav-container {
      flex: 1;
      margin-left: 50px;

      .nav-link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-link-items {
          display: flex;
          margin: 0 -30px;
          padding: 0;

          .m-home,
          .m-nav-none {
            display: none;
            @media screen and (max-width: 1023px) {
              display: block;
            }
          }

          li {
            margin: 0 30px;
            @media screen and (max-width: 1199px) {
              margin: 0 15px;
            }

            a {
              font-size: 14px;
              color: #000;
              transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

              &:hover {
                opacity: 0.3;
              }
            }
          }
        }
        .nav-link-utility {
          display: flex;
          padding: 0;
          li {
            padding: 0 10px;
            border-left: 1px solid #000;
            &:first-child {
              border: none;
            }
          }

          .link-utility-login {
            font-size: 12px;

            a {
              display: flex;
              align-items: center;

              color: #000;
              transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

              &::before {
                content: '';
                display: block;
                width: 11px;
                height: 15px;
                background: url(../img/icon/user_black.svg) no-repeat;
                background-size: 11px 15px;
                margin-right: 7px;
                position: relative;
                top: -1px;
              }

              &:hover {
                opacity: 0.3;
              }
            }
          }

          .link-utility-lang {
            font-size: 12px;

            a {
              display: flex;
              align-items: center;
              
              font-size: 14px;
              color: #000;
              transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

              &::before {
                content: '';
                display: block;
                width: 11px;
                height: 15px;
                background: url(../img/icon/globe_black.svg) no-repeat;
                background-size: 11px 15px;
                margin-right: 7px;
                position: relative;
                top: -1px;
              }

              &:hover {
                opacity: 0.3;
              }
            }
          }
        }
        .m-nav-info {
          display: none;
          @media screen and (max-width: 1023px) {
            display: block;
          }
        }
      }
      // mobile
      .m-nav-simple {
        display: none;
        @media screen and (max-width: 1023px) {
          display: block;
        }
      }
      .m-nav-btn {
        display: none;
        @media screen and (max-width: 1023px) {
          display: block;
        }
      }
    }
  }
}
