.attest-swiper-container {
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  background: #f5f5f5;
}
.attest-swiper {
  max-width: 798px;
  width: calc(100% - 68px);
  margin: 60px 34px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin: 40px 0 18px 0;
    width: 100%;
  }
  .swiper-wrapper {
    display: flex;
    @media screen and (max-width: 768px) {
      margin: 0 20px 40px;
    }

    .swiper-slide {
      display: flex;

      &:last-child {
        border-left: 1px solid #dddddd;
          padding: 0 0 0 40px;
          margin: 0 0 0 -20px;
        @media screen and (max-width: 768px) {
          border: 0;
          padding: 0;
          margin: 0;
        }
      }
      .slide-title {
        img {
          width: 154px;
          border-radius: 8px;
          transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          margin-right: 10px;
          &:hover {
            opacity: .7;
          }
        }
      }
      .slide-text {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        p {
          margin-bottom: 1rem;
          a {
            margin-left: 5px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .swiper-button-prev {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      top: auto;
      bottom: 0;
      left: auto;
      right: calc(50% + 30px);
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 1rem;
        background-color: rgba(0, 0, 0, 0.450);
        position: absolute;
        right: -31px;
      }
    }
  }
  .swiper-button-next {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      top: auto;
      bottom: 0;
      left: calc(50% + 30px);
      right: auto;

      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 1rem;
        background-color: rgba(0, 0, 0, 0.450);
        position: absolute;
        left: -30px;
      }
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: inherit;
    color: rgba(0, 0, 0, 0.450);
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
}
