footer {
  background-color: #fff;
  line-height: 1.5;
  font-size: 1rem;
  // font-family: ;
  padding: 35px 0;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
}

.footer-grid {
  display: flex;
  // justify-content: space-around;
  > ul {
    width: calc(100% / 4);
    padding: 0 20px;
  }

  .m-footer-none {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
    li {
      margin-bottom: 15px;
      a {
        font-size: 14px;
        transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          opacity: 0.3;
        }
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
  .target-icon {
    li {
      a {
        &::after {
          content: '';
          display: inline-block;
          vertical-align: text-top;
          width: 12px;
          height: 9px;
          background: url(../img/icon/external_black.svg) no-repeat;
          background-size: 12px 9px;
          margin-left: 8px;
        }
      }
    }
  }
  .m-footer-aside {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    > li {
      margin-bottom: 30px;
      &:hover span:first-child {
        opacity: 0.7;
      }
      &:hover span:last-child {
        opacity: 0.3;
      }

      a {
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
          flex-direction: row;
        }
        span {
          font-size: 14px;
          transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          &:first-child {
            border-radius: 10px;
            // max-width: 160px;
          }
          &:last-child {
            @media screen and (max-width: 768px) {
              margin-left: 20px;
            }
          }
          img {
            margin-bottom: 15px;
            // max-width: 100%;
            @media screen and (max-width: 768px) {
              margin-bottom: 0;
            }
          }
          &:last-child::after {
            content: '';
            display: inline-block;
            vertical-align: text-top;
            width: 12px;
            height: 9px;
            // background-size: 12px 9px;
            background: url(../img/icon/external_black.svg) no-repeat;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.m-footer-appear {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  ul {
    display: flex;
    align-items: center;

    li {
      width: 50%;
      @media screen and (max-width: 768px) {
        &:nth-child(odd) a::before {
          width: 0;
        }
      }
      a {
        transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          opacity: 0.3;
        }
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 9px;
          background-size: 12px 9px;
          background: url(../img/icon/external_black.svg) no-repeat;
          margin-left: 8px;
        }
        @media screen and (max-width: 768px) {
          display: flex;
          padding: 15px 0;
          border-bottom: 1px solid #e5e5e5;
          &::before {
            content: '';
            display: block;
            margin-right: 20px;
            background-color: #e5e5e5;
            width: 1px;
          }
        }
      }
    }
  }
}

.statements-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 35px 0;
  @media screen and (max-width: 768px) {
    margin: 0 0 30px;
  }
  li {
    display: block;
    margin: 0 25px;

    @media screen and (max-width: 768px) {
      width: 50%;
      margin: 0;
      border-bottom: 1px solid #e5e5e5;
      &:nth-child(odd) a::before {
        width: 0;
      }
    }
    a {
      display: flex;
      font-size: 14px;
      transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
      &:hover {
        opacity: 0.3;
      }

      @media screen and (max-width: 768px) {
        padding: 15px 0;
        &::before {
          content: '';
          display: block;
          margin-right: 20px;
          background-color: #e5e5e5;
          width: 1px;
        }
      }
    }
  }
}

.footer-hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: #e5e5e5;
}

.right {
  font-size: 10px;
  text-align: center;
}
