/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.header-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section.nav-fixed {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.74);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1023px) {
  .header-section.nav-fixed {
    height: auto;
  }
}

.header-section .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: calc(100vw - 50px * 2);
  margin: 0 auto;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 100;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 20px;
  }
}

.header-section .nav-wrap.nav-fixed {
  position: static;
  top: 0;
}

.header-section .nav-wrap .logo {
  width: 67px;
  height: 60px;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .logo {
    width: 51px;
    height: 35px;
  }
}

.header-section .nav-wrap .logo svg {
  width: 67px;
  height: 60px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .logo svg {
    width: 51px;
    height: 35px;
  }
}

.header-section .nav-wrap .nav-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 50px;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container {
    margin: 0;
  }
}

.header-section .nav-wrap .nav-container .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  }
  .header-section .nav-wrap .nav-container .nav-link.btn_open {
    display: block;
    width: 100%;
    padding: 20px 20px 60px 20px;
    background-color: #00a728;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 1;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items {
    display: block;
    margin: 0;
    border-bottom: 1px solid #73c787;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items li {
  margin: 0 30px;
}

@media screen and (max-width: 1199px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items li {
    margin: 0 0 20px;
    display: block;
  }
}

@media screen and (max-width: 374px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items li {
    margin: 0 0 10px;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items li a {
  font-size: 14px;
  color: #000;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items li a {
    color: white;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items li a:hover {
  opacity: 0.3;
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-home,
.header-section .nav-wrap .nav-container .nav-link .nav-link-items .nav-none {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-home,
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .nav-none {
    display: block;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-home {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #73c787;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-home::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/home.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-menu::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/hamburger.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-store::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/store.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-activity::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/present.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-kid::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/children.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-quality::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/omoi.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-order::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/order.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
  .header-section .nav-wrap .nav-container .nav-link .nav-link-items .m-nav-mostop::before {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url(../img/icon/mostopi.svg) no-repeat;
    background-size: 30px 25px;
    margin-right: 15px;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility {
    display: block;
    border-bottom: 1px solid #73c787;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility li {
  padding: 0 10px;
  border-left: 1px solid #000;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility li {
    padding: 0;
    margin: 0 0 20px;
    border-left: none;
  }
}

@media screen and (max-width: 374px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility li {
    margin: 0 0 10px;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility li:first-child {
  border: none;
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-login {
  font-size: 12px;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-login {
    display: none;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-login a::before {
  content: '';
  display: block;
  width: 11px;
  height: 15px;
  background: url(../img/icon/user_black.svg) no-repeat;
  background-size: 11px 15px;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-login a:hover {
  opacity: 0.3;
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #000;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-lang a {
    color: white;
    font-size: 18px;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-lang a::before {
  content: '';
  display: block;
  width: 11px;
  height: 15px;
  background: url(../img/icon/globe_black.svg) no-repeat;
  background-size: 11px 15px;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-lang a::before {
    width: 36px;
    height: 28px;
    background-size: 36px 28px;
    background: url(../img/icon/globe_white.svg) no-repeat;
  }
}

.header-section .nav-wrap .nav-container .nav-link .nav-link-utility .link-utility-lang a:hover {
  opacity: 0.3;
}

.header-section .nav-wrap .nav-container .nav-link .m-nav-info {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .m-nav-info {
    display: block;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .nav-link .m-nav-info li {
    padding: 0px 7px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 374px) {
  .header-section .nav-wrap .nav-container .nav-link .m-nav-info li {
    margin-bottom: 10px;
  }
}

.header-section .nav-wrap .nav-container .nav-link .m-nav-info li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: black;
}

.header-section .nav-wrap .nav-container .nav-link .m-nav-info li > a::before {
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  margin-right: 10px;
  background: url(../img/icon/angle_right_black.svg) 0% 0%/5px 8px no-repeat;
}

.header-section .nav-wrap .nav-container .nav-link .m-nav-info li > a::after {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
  width: 12px;
  height: 9px;
  background: url(../img/icon/external_black.svg);
}

.header-section .nav-wrap .nav-container .nav-link .m-nav-info li > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header-section .nav-wrap .nav-container .m-nav-simple {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .m-nav-simple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    padding: 0;
  }
}

.header-section .nav-wrap .nav-container .m-nav-simple > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .m-nav-simple > ul > li {
    margin: 0 10px;
    line-height: 14px;
  }
}

.header-section .nav-wrap .nav-container .m-nav-simple > ul a {
  font-size: 12px;
  color: black;
}

.header-section .nav-wrap .nav-container .m-nav-simple > ul a:hover {
  opacity: 0.3;
}

.header-section .nav-wrap .nav-container .m-nav-btn {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-section .nav-wrap .nav-container .m-nav-btn {
    display: block;
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: 20px;
    position: relative;
    z-index: 10;
  }
  .header-section .nav-wrap .nav-container .m-nav-btn.btn_open {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 374px) {
  .header-section .nav-wrap .nav-container .m-nav-btn {
    margin-left: 10px;
  }
}

.header-section .nav-wrap .nav-container .m-nav-btn .bar {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #000;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .nav-wrap .nav-container .m-nav-btn .top_bar {
  top: 0px;
}

.header-section .nav-wrap .nav-container .m-nav-btn .top_bar.btn_open {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
}

.header-section .nav-wrap .nav-container .m-nav-btn .mid_bar {
  top: 10px;
}

.header-section .nav-wrap .nav-container .m-nav-btn .mid_bar.btn_open {
  opacity: 0;
}

.header-section .nav-wrap .nav-container .m-nav-btn .bot_bar {
  bottom: 0;
}

.header-section .nav-wrap .nav-container .m-nav-btn .bot_bar.btn_open {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}

.banner-section {
  display: block;
}

.banner-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.banner-view-container {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
}

.banner-view-swiper {
  width: 100%;
  height: 100%;
}

.banner-view-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-view-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.banner-view-swiper .swiper-button-prev:after,
.banner-view-swiper .swiper-button-next:after {
  font-size: inherit;
  color: #000;
}

.banner-app {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .banner-app {
    width: calc(100% - 15px * 2);
    left: 15px;
    bottom: 15px;
    right: auto;
  }
}

.banner-app .banner-app-link {
  width: 230px;
  height: 86px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-app .banner-app-link:hover .app-text {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .banner-app .banner-app-link {
    width: 100%;
    height: auto;
  }
}

.banner-app .banner-app-link .app-img {
  width: 50px;
  position: absolute;
  bottom: 6px;
  left: 12px;
}

@media screen and (max-width: 768px) {
  .banner-app .banner-app-link .app-img {
    width: 34px;
    bottom: -8px;
    left: 15px;
  }
}

.banner-app .banner-app-link .app-text {
  font-size: 14px;
  margin: 0 0 0 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .banner-app .banner-app-link .app-text {
    margin: 0;
    padding: 15px 15px 15px 60px;
  }
  .banner-app .banner-app-link .app-text .m-hr-none {
    display: none;
  }
}

.banner-app .banner-app-link .app-tag {
  width: 80px;
  height: 25px;
  font-size: 12px;
  background-color: #00A728;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-info {
  min-width: 390px;
  height: 19px;
  position: absolute;
  left: 60px;
  bottom: 50px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .banner-info {
    min-width: 0;
    width: calc(100% - 15px * 2);
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    left: auto;
    bottom: auto;
    margin: 0 auto;
    padding: 0 0 15px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.banner-info .banner-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .banner-info .banner-info-container {
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.banner-info .banner-info-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 19px;
}

.banner-info .banner-info-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-date {
  color: #00A728;
  font-weight: bold;
  margin-right: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-date {
    font-size: 13px;
  }
}

.banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
  width: 300px;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 1199px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: auto;
    font-size: 13px;
  }
}

@media screen and (max-width: 695px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 450px;
  }
}

@media screen and (max-width: 630px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 400px;
  }
}

@media screen and (max-width: 595px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 350px;
  }
}

@media screen and (max-width: 540px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .banner-info .banner-info-container .swiper-wrapper .swiper-slide .swiper-slide-link .info-text {
    width: 150px;
  }
}

.banner-info .banner-info-container .info-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-info .banner-info-container .info-all::before {
  content: '';
  display: block;
  width: 1px;
  height: 19px;
  background-color: #000;
  margin: 0 12px;
}

.banner-info .banner-info-container .info-all span {
  font-size: 14px;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.banner-scroll {
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1199px) {
  .banner-scroll {
    display: none;
  }
}

.banner-scroll::after {
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  background-color: #000;
  position: absolute;
  left: 50%;
}

/* ////////////////////
notice
//////////////////// */
section {
  display: block;
}

.notice-container {
  margin: 40px 20px 0;
}

.notice {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
  padding: 0 0 35px;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .notice {
    padding: 0 0 30px;
    width: 100%;
  }
}

.notice.bb-none {
  border-bottom: none;
}

.notice .notice-title {
  color: #e90000;
  font-weight: 700;
  margin-bottom: 10px;
}

.notice p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.notice p a::before {
  content: '';
  background: url(../img/icon/angle_right_black.svg) no-repeat;
  display: block;
  width: 5px;
  height: 8px;
  background-size: 5px 8px;
  margin-right: 7px;
}

.notice .notice-btn {
  display: inline-block;
  width: 100%;
  background: #e90000 url(../img/icon/angle_right_white.svg) 44px 50%/8px 14px no-repeat;
  border: none;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .notice .notice-btn {
    background: #e90000 url(../img/icon/angle_right_white.svg) 5% 50%/6px 11px no-repeat;
  }
}

.notice .notice-btn a {
  display: block;
  padding: 22px 70px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .notice .notice-btn a {
    font-size: 14px;
    font-weight: 700;
    padding: 4% 8%;
  }
}

/* ////new topic 
& shop/service */
.section {
  margin: 80px 0;
}

@media screen and (max-width: 768px) {
  .section {
    margin: 55px 0 50px;
  }
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-container {
    margin: 0 20px;
  }
}

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 0 25px;
  margin: 0 0 25px;
  position: relative;
}

.section-title h2::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #00A728;
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title h2::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #d70c19;
  position: absolute;
  bottom: 0;
  right: calc(50% - 20px);
}

.section-title h2 img {
  height: 36px;
}

@media screen and (max-width: 768px) {
  .section-title h2 .topics-title,
  .section-title h2 .service-title {
    width: calc(100vw * 305 / 750);
    height: auto;
  }
  .section-title h2 .tasty-title {
    width: 83.6%;
    height: auto;
  }
}

.section-title p {
  font-size: 16px;
  color: #212529;
  text-align: center;
}

/* news(service)-swiper */
.news-swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.news-swiper-container .swiper-button-prev {
  left: 50px;
  top: 25%;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

@media screen and (max-width: 1440px) {
  .news-swiper-container .swiper-button-prev {
    left: 30px;
  }
}

@media screen and (max-width: 992px) {
  .news-swiper-container .swiper-button-prev {
    top: 18%;
  }
}

@media screen and (max-width: 768px) {
  .news-swiper-container .swiper-button-prev {
    right: calc(50% + 30px);
    top: auto;
    bottom: 20px;
    left: auto;
  }
  .news-swiper-container .swiper-button-prev::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: #000;
    position: absolute;
    right: -31px;
  }
}

.news-swiper-container .swiper-button-next {
  top: 25%;
  right: 50px;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

@media screen and (max-width: 1440px) {
  .news-swiper-container .swiper-button-next {
    right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .news-swiper-container .swiper-button-next {
    top: 18%;
  }
}

@media screen and (max-width: 768px) {
  .news-swiper-container .swiper-button-next {
    right: auto;
    top: auto;
    bottom: 20px;
    left: calc(50% + 30px);
  }
  .news-swiper-container .swiper-button-next::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: #000;
    position: absolute;
    left: -30px;
  }
}

.news-swiper-container .swiper-button-prev:after,
.news-swiper-container .swiper-button-next:after {
  font-size: inherit;
  color: #464545;
}

.news-swiper-container .swiper-button-next.swiper-button-disabled,
.news-swiper-container .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.news-swiper {
  max-width: 1200px;
  width: calc(100% - 54px * 2);
  margin: 0 54px 40px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .news-swiper {
    margin: 0 0 40px;
    width: 100%;
  }
}

.news-swiper .swiper-wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .news-swiper .swiper-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.news-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

.news-swiper .swiper-wrapper .swiper-slide a p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .news-swiper .swiper-pagination {
    display: none;
  }
}

.news-swiper .swiper-pagination-bullet-active {
  background: inherit;
  background-color: #00A728;
}

/* service-list & tasty-list */
.service-list,
.tasty-list {
  max-width: 1200px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .service-list,
  .tasty-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -8px 10px;
  }
}

.service-list > li,
.tasty-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% / 4 - 35px * 2);
  margin: 0 35px;
}

@media screen and (max-width: 768px) {
  .service-list > li,
  .tasty-list > li {
    width: calc(100% / 2 - 8px * 2);
    margin: 0 8px 20px;
  }
}

.service-list > li:hover .card img,
.tasty-list > li:hover .card img {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .service-list > li a,
  .tasty-list > li a {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card img {
  margin-bottom: 20px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.card .card-img-search {
  width: 106px;
}

.card .card-img-order {
  width: 106px;
}

.card .card-img-service {
  width: 80px;
}

.card .card-img-card {
  width: 90px;
}

.card .card-img-omoi {
  width: 135px;
}

.card .card-img-quality {
  width: 81px;
}

.card .card-img-mostopi {
  width: 96px;
}

.card .card-img-omoi-logo {
  width: 56px;
}

@media screen and (max-width: 768px) {
  .card .card-img-search {
    width: 71px;
  }
  .card .card-img-order {
    width: 69px;
  }
  .card .card-img-service {
    width: 61px;
  }
  .card .card-img-card {
    width: 61px;
  }
  .card .card-img-omoi {
    width: 75px;
  }
  .card .card-img-quality {
    width: 51px;
  }
  .card .card-img-mostopi {
    width: 58px;
  }
  .card .card-img-omoi-logo {
    width: 38px;
  }
}

.card .card-title {
  font-size: 18px;
  color: #00A728;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .card .card-title {
    font-size: 16px;
  }
}

.card .card-text {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .card .card-text {
    font-size: 13px;
  }
}

/* btns */
.section-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-btn .btn-sm {
  width: 120px;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .section-btn .btn-sm {
    width: 90px;
  }
}

.section-btn .btn-md {
  width: 190px;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .section-btn .btn-md {
    width: 130px;
  }
}

.section-btn .btn-common a {
  display: block;
  background-color: #00A728;
  color: #fff;
  font-size: 16px;
  padding: 7px 0;
  border-radius: 30px;
  border: 1px solid #00A728;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .section-btn .btn-common a {
    font-size: 14px;
  }
}

.section-btn .btn-common a:hover {
  background-color: #fff;
  color: #00A728;
}

.section-btn .btn-common a:hover::before {
  background: url(../img/icon/angle_right_green.svg) no-repeat;
}

.section-btn .btn-common a::before {
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background: url(../img/icon/angle_right_white.svg) no-repeat;
  background-size: 5px 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: 12px;
}

/* member */
.member-container {
  background: url(../img/member/member_area_bg.png) no-repeat;
  background-size: cover;
  padding: 70px 0 40px;
}

@media screen and (max-width: 768px) {
  .member-container {
    padding: 45px 0;
  }
}

.member-content {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .member-content {
    margin: 0 20px 45px;
  }
}

.member-title {
  width: 524px;
  height: 83px;
  background: url(../img/member/member_heading.png) no-repeat;
  background-size: 524px 83px;
  margin: 0 auto 45px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .member-title {
    width: auto;
    height: auto;
    background: none;
    text-align: center;
    line-height: 1;
  }
  .member-title::before, .member-title::after {
    content: '';
    display: block;
    background: url(../img/member/member_heading_border.svg) center center no-repeat;
    height: 3px;
  }
}

.member-title span {
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .member-title span {
    display: block;
    margin: 16px 0;
    font-size: 16px;
    position: static;
    left: auto;
    bottom: auto;
    -webkit-transform: none;
            transform: none;
  }
}

.member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 40px;
}

@media screen and (max-width: 768px) {
  .member-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.member-list > li {
  margin: 0 30px;
}

.member-list > li:hover .member-card-content::before,
.member-list > li:hover .net-order-content::before {
  opacity: 0.7;
}

.member-list .member-card-title,
.member-list .net-order-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.member-list .member-card-title::before,
.member-list .net-order-title::before {
  content: '';
  display: block;
  width: 4px;
  height: 7px;
  background: url(../img/icon/angle_right_green.svg) no-repeat;
  background-size: 4px 7px;
  margin-right: 10px;
}

.member-list .member-card-title img,
.member-list .net-order-title img {
  height: 30px;
}

.member-list .member-card-content,
.member-list .net-order-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  color: #fff;
}

.member-list .member-card-content::before,
.member-list .net-order-content::before {
  content: '';
  display: block;
  margin-bottom: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .member-list .member-card-content::before,
  .member-list .net-order-content::before {
    width: 270px;
    height: 97px;
    background-size: 270px 97px;
  }
}

@media screen and (max-width: 768px) {
  .member-list .member-card-content,
  .member-list .net-order-content {
    font-size: 15px;
    margin-bottom: 35px;
  }
}

.member-list .member-card-content::before {
  width: 348px;
  height: 125px;
  background: url(../img/member/member_card.png) no-repeat;
  background-size: 348px 125px;
}

.member-list .net-order-content::before {
  width: 335px;
  height: 125px;
  background: url(../img/member/member_net_order.png) no-repeat;
  background-size: 335px 125px;
}

.member-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .member-btn {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
}

.member-btn .btn-lg {
  width: 240px;
  margin: 0 15px;
}

@media screen and (max-width: 768px) {
  .member-btn .btn-lg {
    width: 280px;
    margin: 0 0 25px;
  }
}

.member-btn .btn-lg:last-child a {
  background-color: inherit;
  border: 2px solid #fff;
}

.member-btn .btn-lg a {
  display: block;
  background-color: #00A728;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 50px;
  border: 1px solid #00A728;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .member-btn .btn-lg a {
    font-size: 16px;
  }
}

.member-btn .btn-lg a:hover {
  background-color: #fff;
  color: #00A728;
}

.member-btn .btn-lg a:hover::before {
  background: url(../img/icon/angle_right_green.svg) no-repeat;
}

.member-btn .btn-lg a::before {
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background: url(../img/icon/angle_right_white.svg) no-repeat;
  background-size: 5px 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: 20px;
}

.member-swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.member-swiper {
  max-width: 1200px;
  width: calc(100% - 108px);
  margin: 60px 54px 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .member-swiper {
    width: 100%;
    margin: 40px 0 0;
  }
}

.member-swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
}

@media screen and (max-width: 768px) {
  .member-swiper .swiper-wrapper {
    margin: 0 20px 45px;
  }
}

.member-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.member-swiper .swiper-wrapper .swiper-slide a p {
  color: #fff;
  font-size: 14px;
}

.member-swiper .swiper-button-prev {
  display: none;
}

@media screen and (max-width: 768px) {
  .member-swiper .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: auto;
    bottom: -15px;
    left: auto;
    right: calc(50% + 30px);
  }
  .member-swiper .swiper-button-prev::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.671);
    position: absolute;
    right: -31px;
  }
}

.member-swiper .swiper-button-next {
  display: none;
}

@media screen and (max-width: 768px) {
  .member-swiper .swiper-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: auto;
    bottom: -15px;
    left: calc(50% + 30px);
    right: auto;
  }
  .member-swiper .swiper-button-next::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.671);
    position: absolute;
    left: -30px;
  }
}

.member-swiper .swiper-button-prev:after,
.member-swiper .swiper-button-next:after {
  font-size: inherit;
  color: rgba(255, 255, 255, 0.664);
}

.member-swiper .swiper-button-next.swiper-button-disabled,
.member-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/* social media*/
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.social-list > li {
  margin: 0 20px;
}

.social-list .facebook {
  width: 16px;
  height: 30px;
}

.social-list .twitter {
  width: 34px;
  height: 28px;
}

.social-list .instagram {
  width: 30px;
  height: 30px;
}

.social-list .youtube {
  width: 36px;
  height: 26px;
}

@media screen and (max-width: 768px) {
  .social-list .facebook {
    width: calc(23px / 2);
    height: calc(45px / 2);
  }
  .social-list .twitter {
    width: calc(52px / 2);
    height: calc(42px / 2);
  }
  .social-list .instagram {
    width: calc(45px / 2);
    height: calc(45px / 2);
  }
  .social-list .youtube {
    width: calc(54px / 2);
    height: calc(38px / 2);
  }
}

/* feat-list */
.feat-section {
  background-color: #00A728;
  padding: 35px 0;
}

@media screen and (max-width: 768px) {
  .feat-section {
    padding: 25px 10px;
  }
}

.feat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.feat-list > li {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .feat-list > li {
    width: 50%;
    padding: 0 10px;
  }
}

.feat-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 160px;
}

@media screen and (max-width: 768px) {
  .feat-list > li > a {
    max-width: 100%;
  }
}

.feat-list > li > a img {
  width: 100%;
  border-radius: 10px;
}

.attest-swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-pack: center;
  background: #f5f5f5;
}

.attest-swiper {
  max-width: 798px;
  width: calc(100% - 68px);
  margin: 60px 34px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .attest-swiper {
    margin: 40px 0 18px 0;
    width: 100%;
  }
}

.attest-swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .attest-swiper .swiper-wrapper {
    margin: 0 20px 40px;
  }
}

.attest-swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attest-swiper .swiper-wrapper .swiper-slide:last-child {
  border-left: 1px solid #dddddd;
  padding: 0 0 0 40px;
  margin: 0 0 0 -20px;
}

@media screen and (max-width: 768px) {
  .attest-swiper .swiper-wrapper .swiper-slide:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-title img {
  width: 154px;
  border-radius: 8px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  margin-right: 10px;
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-title img:hover {
  opacity: .7;
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-text p {
  margin-bottom: 1rem;
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-text p a {
  margin-left: 5px;
}

.attest-swiper .swiper-wrapper .swiper-slide .slide-text p a:hover {
  text-decoration: underline;
}

.attest-swiper .swiper-button-prev {
  display: none;
}

@media screen and (max-width: 768px) {
  .attest-swiper .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: auto;
    bottom: 0;
    left: auto;
    right: calc(50% + 30px);
  }
  .attest-swiper .swiper-button-prev::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    right: -31px;
  }
}

.attest-swiper .swiper-button-next {
  display: none;
}

@media screen and (max-width: 768px) {
  .attest-swiper .swiper-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: auto;
    bottom: 0;
    left: calc(50% + 30px);
    right: auto;
  }
  .attest-swiper .swiper-button-next::before {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    left: -30px;
  }
}

.attest-swiper .swiper-button-prev:after,
.attest-swiper .swiper-button-next:after {
  font-size: inherit;
  color: rgba(0, 0, 0, 0.45);
}

.attest-swiper .swiper-button-next.swiper-button-disabled,
.attest-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

footer {
  background-color: #fff;
  line-height: 1.5;
  font-size: 1rem;
  padding: 35px 0;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 30px 0;
  }
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer-container {
    margin: 0 20px;
  }
}

.footer-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-grid > ul {
  width: calc(100% / 4);
  padding: 0 20px;
}

.footer-grid .m-footer-none {
  display: block;
}

@media screen and (max-width: 768px) {
  .footer-grid .m-footer-none {
    display: none;
  }
}

.footer-grid .m-footer-none li {
  margin-bottom: 15px;
}

.footer-grid .m-footer-none li a {
  font-size: 14px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-grid .m-footer-none li a:hover {
  opacity: 0.3;
}

.footer-grid .m-footer-none li:first-child {
  font-weight: bold;
}

.footer-grid .target-icon li a::after {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 9px;
  background: url(../img/icon/external_black.svg) no-repeat;
  background-size: 12px 9px;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .footer-grid .m-footer-aside {
    width: 100%;
  }
}

.footer-grid .m-footer-aside > li {
  margin-bottom: 30px;
}

.footer-grid .m-footer-aside > li:hover span:first-child {
  opacity: 0.7;
}

.footer-grid .m-footer-aside > li:hover span:last-child {
  opacity: 0.3;
}

.footer-grid .m-footer-aside > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer-grid .m-footer-aside > li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-grid .m-footer-aside > li a span {
  font-size: 14px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-grid .m-footer-aside > li a span:first-child {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .footer-grid .m-footer-aside > li a span:last-child {
    margin-left: 20px;
  }
}

.footer-grid .m-footer-aside > li a span img {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .footer-grid .m-footer-aside > li a span img {
    margin-bottom: 0;
  }
}

.footer-grid .m-footer-aside > li a span:last-child::after {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 9px;
  background: url(../img/icon/external_black.svg) no-repeat;
  margin-left: 8px;
}

.m-footer-appear {
  display: none;
}

@media screen and (max-width: 768px) {
  .m-footer-appear {
    display: block;
  }
}

.m-footer-appear ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-footer-appear ul li {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .m-footer-appear ul li:nth-child(odd) a::before {
    width: 0;
  }
}

.m-footer-appear ul li a {
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.m-footer-appear ul li a:hover {
  opacity: 0.3;
}

.m-footer-appear ul li a::after {
  content: '';
  display: block;
  width: 12px;
  height: 9px;
  background-size: 12px 9px;
  background: url(../img/icon/external_black.svg) no-repeat;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .m-footer-appear ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .m-footer-appear ul li a::before {
    content: '';
    display: block;
    margin-right: 20px;
    background-color: #e5e5e5;
    width: 1px;
  }
}

.statements-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 0;
}

@media screen and (max-width: 768px) {
  .statements-list {
    margin: 0 0 30px;
  }
}

.statements-list li {
  display: block;
  margin: 0 25px;
}

@media screen and (max-width: 768px) {
  .statements-list li {
    width: 50%;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .statements-list li:nth-child(odd) a::before {
    width: 0;
  }
}

.statements-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.statements-list li a:hover {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .statements-list li a {
    padding: 15px 0;
  }
  .statements-list li a::before {
    content: '';
    display: block;
    margin-right: 20px;
    background-color: #e5e5e5;
    width: 1px;
  }
}

.footer-hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: #e5e5e5;
}

.right {
  font-size: 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */