
/* ////new topic 
& shop/service */
.section {
  margin: 80px 0;
  @media screen and (max-width: 768px) {
    margin: 55px 0 50px;
  }
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
}
.section-title {
  margin-bottom: 40px;
  h2 {
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 0 25px;
    margin: 0 0 25px;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
      left: calc(50% - 20px);
    }
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: $sub-color;
      position: absolute;
      bottom: 0;
      right: calc(50% - 20px);
    }
    img {
      height: 36px;
    }
    @media screen and (max-width: 768px) {
      .topics-title,
      .service-title {
        width: calc(100vw * 305 / 750);
        height: auto;
      }

      .tasty-title {
        width: 83.6%;
        height: auto;
      }
    }
  }
  p {
    font-size: 16px;
    color: #212529;
    text-align: center;
  }
}


.section-hr {
  margin: 0 auto;
  // padding: 0;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  max-width: 700px;
  // text-align: center;
  @media screen and (max-width: 768px) {
    width: calc(100vw * 350 / 750);
  }
}
/* service-list & tasty-list */
.service-list,
.tasty-list {
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin: 0 -8px 10px;
  }
  > li {
    display: flex;
    justify-content: center;
    width: calc(100% / 4 - 35px * 2);
    margin: 0 35px;
    @media screen and (max-width: 768px) {
      width: calc(100% / 2 - 8px * 2);
      margin: 0 8px 20px;
    }
    &:hover .card-img {
      opacity: 0.7;
    }
    a {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 20px;
      }
    }
  }
}



/* social media*/
.social-list {
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  > li {
    margin: 0 20px;
    a {
      transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
      &:hover {
        opacity: .7;
      }
    }
  }
  .facebook {
    width: 16px;
    height: 30px;
  }
  .twitter {
    width: 34px;
    height: 28px;
  }
  .instagram {
    width: 30px;
    height: 30px;
  }
  .youtube {
    width: 36px;
    height: 26px;
  }
  @media screen and (max-width: 768px) {
    .facebook {
      width: calc(23px / 2);
      height: calc(45px / 2);
    }
    .twitter {
      width: calc(52px / 2);
      height: calc(42px / 2);
    }
    .instagram {
      width: calc(45px / 2);
      height: calc(45px / 2);
    }
    .youtube {
      width: calc(54px / 2);
      height: calc(38px / 2);
    }
  }
}

